<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>PhD Student Research Practicum</title>

    <link rel="stylesheet" href="{{ site.siteurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.siteurl }}/stylesheets/github-light.css">
    <link rel="stylesheet" href="{{ site.siteurl }}/stylesheets/custom.css">
    <link rel="stylesheet" href="{{ site.siteurl }}/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>PhD Student Research Practicum</h1>
        <p>LPO 9951 at Vanderbilt University, Fall 2015</p>
      <p><a href="http://peabody.vanderbilt.edu/departments/lpo/">
      <img src="{{ site.siteurl }}/images/vandylogo.png" style="width:100%;"></a></p>

        <a href="http://btskinner.github.io/lpo9951/">Course Synopsis</a>
        </br>
        <a href='http://btskinner.github.io/lpo9951/syllabus/'>Syllabus</a>&nbsp;
        <a href="https://github.com/btskinner/lpo9951/raw/gh-pages/syllabus/syllabus.pdf" class="iconlink"><i class="fa fa-file-pdf-o"></i></a>
        </br>
        <a href='http://btskinner.github.io/lpo9951/schedule/'>Schedule</a>&nbsp;
        <a href="https://github.com/btskinner/lpo9951/raw/gh-pages/schedule/schedule.pdf" class="iconlink"><i class="fa fa-file-pdf-o"></i></a>
        </br>
        <a href='http://btskinner.github.io/lpo9951/data/'>Data &amp; Auxiliary</a>
        </br>
        <a href='http://btskinner.github.io/lpo9951/templates/'>Templates</a>
        </br>
        <a href='http://btskinner.github.io/lpo9951/compatibility/'>Compatibility Issues</a>
        </br>
        <a href='http://btskinner.github.io/lpo9951/notes/'>Notes</a>
        </br>
        </br>

        <ul>
          <li><a href="https://github.com/btskinner/lpo9951/zipball/master" class="iconlink"><i class="fa fa-file-archive-o fa-2x"></i></a></li>
          <li><a href="https://github.com/btskinner/lpo9951" class="iconlink"><i class="fa fa-github fa-2x"></i></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/btskinner">btskinner</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
